.productWrapper {
    width: fit-content;
    background-color: var(--secondary-accent-color);
    padding: 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-around; /* align add to cart buttons when product heading wraps */
    border-radius: var(--large-border-radius);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.productWrapper, .productHeader {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), 
                box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.productWrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.productHeader:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.productHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 260px;
    gap: 1rem;
}

.productHeader * {
    margin: 0px;
}

.productHeader > * {
    font-weight: var(--product-text-boldness);
    text-shadow: var(--product-text-shadow);
}

.productHeading {
    color: var(--product-text-color);
    font-size: 1.25rem;
}