.latestProducts {
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  background-color: var(--tertiary-accent-color);
  border-radius: var(--medium-border-radius);
  margin: 2rem auto 0; 
  gap: 1rem;
}

.featuredMedia {
  margin-top: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}