.latestProducts, 
.featuredMedia {
  margin-top: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  background-color: var(--tertiary-accent-color);
  border-radius: var(--medium-border-radius);
  margin: 2rem auto 0; 
  gap: 1rem;
}

@media (max-width: 600px) {
  .latestProducts,
  .featuredMedia {
    zoom: 0.75;
  }
}