.cartButton {
  position: fixed;
  padding: 0px;
  height: 80px;
  width: 80px;
  top: var(--page-padding-top);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  right: var(--page-padding-sides);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.cartDropdown {
  position: fixed;
  top: calc(80px + var(--page-padding-top)); /* cartButton height + top */
  right: var(--page-padding-sides);
  background-color: var(--background-color);
  border: 1px solid var(--primary-accent-color);
  border-radius: var(--medium-border-radius);
  padding: 1rem;
  min-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display:flex;
  flex-direction: column;
  gap: 1rem;
}
