.cartItem {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: var(--product-text-boldness);
    text-shadow: var(--product-text-shadow);
    /* transition: transform 0.3s;  */
}

/* .cartItem:hover {
    cursor: pointer;
    transform: translatex(10px);
} */

.productImage, .productName  {
    cursor: pointer;
}

.productImage {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    border: var(--product-border);
    border-radius: var(--product-border-radius);
    box-shadow: var(--product-box-shadow);
    user-select: none; 
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    justify-content: space-around;
}

.productInfo * {
    margin: 0px;
}

.priceAndQuantity {
    display: flex;
    gap: 20px;
}