.cartItem {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: var(--product-text-boldness);
    text-shadow: var(--product-text-shadow);
    transition: transform 0.3s; 
    user-select: none;
}

.cartItem:hover {
    cursor: pointer;
    transform: translatex(10px);
}

.productImage {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border: var(--product-border);
    border-radius: var(--product-border-radius);
    box-shadow: var(--product-box-shadow);
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    justify-content: space-around;
}

.productInfo * {
    margin: 0px;
}
