.cartButton {
  position: fixed;
  padding: 0px;
  height: 80px;
  width: 80px;
  top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  right: var(--page-margin);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000; 
}

.cartDropdown {
  position: fixed;
  top: 100px; /* cartButton height + top */
  right: var(--page-margin);
  background-color:#242424;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  min-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
