:root {
  /* css variables */
  --page-padding-sides: 3rem;
  --page-padding-top: 2rem;
  /* --page-padding-top: calc(var(--page-padding-sides) / 2); */

  --small-border-radius: 6px;
  --medium-border-radius: 12px;
  --large-border-radius: 18px;

  --background-color: #ffffff;
  --color: #242424;

  --product-text-color: #ffffff;

  --primary-accent-color: #BC002D;
  --secondary-accent-color: #242424;
  /* --terriary-accent-color:  */

  --product-text-boldness: 600;
  --product-text-shadow: 2px 3px var(--primary-accent-color);
  --product-border: 3px solid var(--primary-accent-color);
  --product-box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --color: rgba(255, 255, 255, 0.87);
    
    --primary-accent-color: #747bff;
    --secondary-accent-color: #535bf228;
    --terriary-accent-color: #646bff;

    --product-text-shadow-color: var(var(--primary-accent-color)); 
    --product-text-shadow: 2px 3px #535bf25d;
  }
  a:hover {
    color: var(--primary-accent-color);
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;

  padding: var(--page-padding-sides);
  padding-top: var(--page-padding-top);
  text-align: center;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-accent-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

ul {
  margin: 0;
  padding: 0;
}

.linkButton, button {
  border-radius: 8px;
  border: 1px solid var(--primary-accent-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
.linkButton:hover {
  text-shadow: 0px 0px 50px var(--primary-accent-color);
  border: 1px dashed var(--primary-accent-color);
}
.linkButton:focus, button:focus,
.linkButton:focus-visible, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nonSelectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

*,
*::before,
*::after  {
  box-sizing: border-box; 
}