.topBanner {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100vw;
  min-height: 100px;
}

.siteTitleLink, .navBar {
  margin-left: var(--page-margin);
}

.navBar {
  font-size: 1.5rem;
  padding-right: 80px;
  display: flex;
  gap: 20px;
}

.pageContent {
  width: 100vw;
  margin: 0 auto;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}