.topBanner {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100vw;
  padding-right: 80px; 
}

.siteTitleLink, .navBar {
  margin-left: 20px;
}

.navBar {
  font-size: 1.5rem;
  display: flex;
  gap: 20px;
}

.pageContent {
  width: 100vw;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 4rem;
}