.topBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.siteTitle {
  font-size: 3.2rem;
  line-height: 1.1;
}

.navBar {
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
}