.button {
  display: inline-flex;
  align-items: middle;
  justify-content: center;
  gap: 0.5rem;
  height: 3rem;
  
  color: #ffffff; /* should always have a suitable backgrond color */
  background-color: var(--primary-accent-color);
  border: none;
  border-radius: var(--medium-border-radius);
  
  font-weight: 600;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.icon {
  display: inline-flex;
  align-items: center;
}

.label {
  display: inline-block;
}