.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImage {
    border: 3px solid #535bf25d;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.productImage:hover {
    cursor: pointer;
}

.chevron {
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), 
                box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.chevron:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

.chevron:active {
    transform: scale(0.8); 
}
