.imagePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.displayedImage {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 100%;
    color: var(--product-text-color);
    /* remove default button styling */
    background: none;
    border: none;
    padding: 0;
}

.imageSelector {
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.imageSelector::-webkit-scrollbar {
    display: none;
}

.productImage {
    object-fit: cover;
    border: var(--product-border);
    border-radius: var(--large-border-radius);
    box-shadow: var(--product-box-shadow);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.productImage:hover {
    cursor: pointer;
}

.mainImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.chevron {
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), 
                box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.chevron:hover {
    cursor: pointer;
    transform: scale(1.2); 
}

.chevron:active {
    transform: scale(0.8); 
}

.thumbnail {
    width: clamp(4.5rem, 18vw, 8rem);
    height: clamp(4.5rem, 18vw, 8rem);
}