.quantitySelector {
    display: flex;
    gap: 1rem;
    font-weight: var(--product-text-boldness);
    text-shadow: var(--product-text-shadow);
    transition: transform 0.3s; 
    user-select: none;
    align-items: center;
}

.quantityMinus, .quantityPlus, .quantityEntry {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    background-color: rgb(42, 43, 62);
    border-radius: var(--small-border-radius);
    text-align: center;
}