.quantitySelector {
    display: flex;
    gap: 1rem;
    font-weight: var(--product-text-boldness);
    transition: transform 0.3s; 
    user-select: none;
    align-items: center;
}

.quantityMinus, .quantityPlus, .quantityEntry {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    border-color: var(--primary-accent-color); /* don't have to set for :hover */
    /* background-color: var(--secondary-accent-color); */
    border: 1px solid var(--primary-accent-color);
    border-radius: var(--small-border-radius);
    text-align: center;
}

.quantityMinus:hover, .quantityPlus:hover, .quantityEntry:hover {
  text-shadow: 0px 0px 50px var(--primary-accent-color);
  border: 1px dashed var(--primary-accent-color);
  color: var(--primary-accent-color);
}